.header-title {
  color: green;
  background-color: white;
}

.select {
  width: 10px !important;
  height: 10px !important;
  border: 0px !important;
  padding: 20px;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 0px !important;
}

.MuiTableCell-root {
  border: 1px solid #b5beae;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.MuiInputBase-input-MuiOutlinedInput-input {
  display: none !important;
}

.MuiSelect-select {
  display: none;
}

.wow:hover {
  border: none !important;
  border-width: 0px !important;
}

.header-cell {
  background-color: green !important;
  color: white !important;
  padding: 0% !important;
  flex-direction: row !important;
}

.row-color-gray {
  background-color: #cccccc;
}

.row-color-green {
  background-color: #d1edb9;
}

.pagination {
  margin-top: 10px !important;
}
